<footer class="footer">
	<p>&copy;2020, Web od A do Z #2</p>

	<p>
		{% for osoba in zamestnanci %}
			{{ osoba.jmeno }} {{ osoba.prijmeni }} |
		{% endfor %}
	</p>
</footer>

<script src="/js/lightbox/js/lightgallery.min.js"></script>
<script type="text/javascript">
	lightGallery(document.getElementById('galerie'));
</script>


</body>
</html>